<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StartIPrint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E66AC0CC1C8EE73200489B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66AC0E01C8EE73200489B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66AC0EB1C8EE73200489B3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
